<div class="container mtb">
    <div class="row centered">
        {% for member in site.categories['current_member'] reversed %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <p style="margin-top: 1.2em"</p>
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">{{ member.name }}</h3>
                        <a href="{{  member.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <h5 class="ctitle">{{ member.name }}</h5>
            <h5>{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->
        {% endfor %}

    </div><! --/row -->
</div><! --/container -->
