<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-4">
                <h4>Links</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.online %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
                <p><a class="footer_link" href="https://ral.ucar.edu/hap/computational-hydrology">NCAR | Computational Hydrology</a>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Our Home</h4>
                <div class="hline-w"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
            </div>
            <div class="spacing"></div>
            <div class="col-lg-12">
                <p style="font-size:11px;color:white;">We acknowledge we are on Treaty 6 and 7 Territory and the Homeland of the Métis, Tsuut'ina, Stoney, Ktunaxa and the Niitsitapi (Blackfoot). We pay our respect to the ancestors of this place and reaffirm our relationship with one another.</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
