<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Welcome to Computational Hydrology</h1>
                <p style="font-size:24px;">within the <a href="http://www.usask.ca/hydrology/">Centre for Hydrology</a> at the <a href="https://www.usask.ca/">University of Saskatchewan</a></p>
                <div class="spacing"></div>
            </div>
            <div class="spacing"></div>
            <div class="col-lg-12 himg">
                <img src="{{ "/assets/img/alaska.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
